@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300&display=swap');

body {
    background-color: #eee;
    margin: 0;
    padding: 0;
    font-family: 'Oswald', sans-serif;
}

#header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    padding: 0 0 0 1em;
    background-color: #eee;
}
#header-img {
    display: flex;
    width: 150px;
    height: auto;
    margin-left: 30px;
}
#nav-bar ul {
    display: flex;
    justify-content: row;
    justify-content: space-around;
    align-items: flex-start;
    justify-content: flex-end;
    position: relative;
    bottom: 100px;
    list-style-type: none;
    margin-right: 50px;
}
#nav-bar li{
    margin-right: 30px;
}
#nav-bar #nav-link {
    text-decoration: none;
    color: black;
}
#nav-bar #nav-link:link {
    color: black;
}
  
#nav-bar #nav-link:visited {
    color: brown;
}
  
#nav-bar #nav-link:hover {
    text-decoration: underline;
    color: rgb(0, 3, 5);
    font-size: 120%;
}
  
#nav-bar #nav-link:active {
    color: blue;
}


#video iframe {
    width:600px;
    height: 400px;
}
.main {
    text-align: center;
    margin-bottom: 50px;
}
.main h1 {
    margin: 250px 0 50px 0;
    text-align: center;
}
#form {
    display: inline-block;
    text-align: left;
}
.main #form #email {
    width: 100%;
    padding: 6px 10px;
    margin: 8px 0;
    box-sizing: border-box;
}
.main #form #submit {
    display: block;
    margin-top: 10px;
    padding: 3px 5px;
    font-size: larger;
}
#first {
    display: flex;
    flex-direction: column;
    margin: 200px 0 0 100px;
}
.materials {
    margin-bottom: 30px;
}
.materials img {
    width: 150px;
    height: auto;
    margin: 10px 30px 30px 0;
    float: left;
}
.materials h2 {
    display: inline;
    margin-bottom: 1px;
}
.materials h2, p {
    margin-top: 1px;
}
.Shipping {
    margin-bottom: 30px;
}
.Shipping img {
    width: 150px;
    height: auto;
    margin: 10px 30px 30px 0;
    float: left;
}
.Shipping h2 {
    margin-bottom: 1px;
}
.Shipping h2, p {
    margin-top: 1px;
}
.Quality {
    margin-bottom: 30px;
}
.Quality img {
    width: 150px;
    height: auto;
    margin: 10px 30px 30px 0;
    float: left;
}
.Quality h2 {
    display: inline;
    margin-bottom: 1px;
}
.Quality h2, p {
    margin-top: 1px;
}
#third {
    display: grid;
    grid-template-columns: auto auto auto auto;
    justify-content: space-evenly;
    align-content: center;
}
#second {
    margin: 150px 0 100px 0;
}
#video {
    display: flex;
    justify-content: center;
    align-content: center;
    margin: 10px;
    padding: 10px;
}
.container {
    margin: 30px;
    margin-left: 20px;
    text-align: center;
    border: 1px solid black;
    padding-bottom: 10px;
}
.first-box {
    background-color: #ddd;
    padding: 20px 0 5px 0;
    margin-bottom: 30px;
    font-size: large;
    margin-top: 1px;
}
.container h3 {
    font-size: x-large;
    color: green;
}
.container input[type=button] {
    background-color: rgba(252, 252, 0, 0.966);
    margin: 2px 3px 2px 3px;
    padding: 5px 10px 5px 10px;
}
.footer {
    background-color: #ddd;
}
.copy{
    text-align: right;
    margin-right: 20px;
}
#nav-foot ul{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 20px;
    list-style-type: none;
}
#nav-foot li{
    margin-left: 30px;
}
#nav-foot a{
    text-decoration: none;
    color: black;
}

@media only screen and (max-width: 768px) {
    body {
        display: flex;
        flex-direction: column;
        padding: 0;
        margin: 0;
    }
    #header #header-img{
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
        height: 200px;
    }
    #header-img {
        width: 250;
    }
    #header #nav-bar {
        display: block;
        margin-left: auto;
        margin-right: auto;
        float: none;
        transform: translate(-12%, 90%);
    }
    #header #nav-bar li {
        margin-left: 50px;
    }
    .main {
        margin-bottom: 1px;
        box-sizing: border-box;
    }
    .main h1{
        font-size: 30px;
    }
    #form {
        margin-right: 30px;
    }
    .main #form #email {
        width: 100%;
        padding: 12px;
        margin-right: 30px;
    }
    .main #form #submit {
        margin-left: 60px;
    }
    #first {
        display: block;
    }
    .materials img {
        float: none;
        display: block;
        margin-left: 90px;
        margin-right: auto;
        width: 50%;
    }
    .materials, address{
        text-align: center;
        margin-right: 40px;
    }
    .Shipping img {
        float: none;
        display: block;
        margin-left: 90px;
        margin-right: auto;
        width: 50%;
    }
    .Shipping, address{
        text-align: center;
        margin-right: 40px;
    }
    .Quality img {
        float: none;
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
    .Quality, address{
        text-align: center;
        margin-right: 40px;
    }
    #third {
        display: block;
        margin-left: 20px;
    }
    .container, p{
        padding: 5px 10px 5px 10px;
    }
}