#header {
    display: flex;
    flex-direction: column;
    background-color: rgb(224, 210, 210);
}
#header-img {
    display: flex;
    width: 150px;
    height: auto;
    margin-left: 30px;
}
#header h1 {
    display: flex;
    justify-content: center;
    align-content: center;
    position: relative;
    bottom: 50px;
}

#nav-bar ul {
    display: flex;
    justify-content: row;
    justify-content: space-around;
    align-items: flex-start;
    justify-content: flex-end;
    position:relative;
    bottom: 100px;
    list-style-type: none;
    margin-right: 50px;
}
#nav-bar li{
    margin-right: 30px;
}
#nav-bar #nav-link {
    text-decoration: none;
}

#form {
    display: flex;
    justify-content: center;
}
#form #email {
    position: relative;
    bottom: 40px;
}
#form #submit {
    position: relative;
    right: 150px;
}